<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-studente-heading" jhiTranslate="universitaApp.studente.home.createOrEditLabel">Create or edit a Studente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!studente.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="studente.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universitaApp.studente.data_nascita" for="field_data_nascita">Data Nascita</label>
                    <div class="input-group">
                        <input id="field_data_nascita" type="text" class="form-control" name="data_nascita" ngbDatepicker  #data_nascitaDp="ngbDatepicker" [(ngModel)]="studente.data_nascita"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="data_nascitaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.data_nascita?.dirty && editForm.controls.data_nascita?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.data_nascita?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universitaApp.studente.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="studente.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universitaApp.studente.cognome" for="field_cognome">Cognome</label>
                    <input type="text" class="form-control" name="cognome" id="field_cognome"
                        [(ngModel)]="studente.cognome" required/>
                    <div [hidden]="!(editForm.controls.cognome?.dirty && editForm.controls.cognome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cognome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universitaApp.studente.matricola" for="field_matricola">Matricola</label>
                    <input type="text" class="form-control" name="matricola" id="field_matricola"
                        [(ngModel)]="studente.matricola" required/>
                    <div [hidden]="!(editForm.controls.matricola?.dirty && editForm.controls.matricola?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.matricola?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universitaApp.studente.facolta" for="field_facolta">Facolta</label>
                    <select class="form-control" id="field_facolta" name="facolta" [(ngModel)]="studente.facoltaId"  required>
                        <option *ngIf="!editForm.value.facolta" [ngValue]="null" selected></option>
                        <option [ngValue]="facoltaOption.id" *ngFor="let facoltaOption of facoltas; trackBy: trackFacoltaById">{{facoltaOption.nome}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.facolta?.dirty && editForm.controls.facolta?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.facolta?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label jhiTranslate="universitaApp.studente.corsi" for="field_corsi">Corsi</label>
                    <select class="form-control" id="field_corsi" multiple name="corsi" [(ngModel)]="studente.corsi">
                        <option [ngValue]="getSelected(studente.corsi, corsoOption)" *ngFor="let corsoOption of corsi; trackBy: trackCorsoById">{{corsoOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
